/* ------------------------------------ Variables -------------------------------------- */

:root {
--background-color:#F8F8FF;
--headline-color: #00008B;
--button-color: #FF1493;
--box-shaddow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ------------------------------------ All ------------------------------------------- */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: arial;

}

/* ------------------------------------ Buttons ------------------------------------- */

.button-tekst {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 16px;
    text-transform: uppercase;
    ;
}

.button-text-2 {
    text-decoration: none;
    color: grey;
}

.small-btn {
    background-color: #FF1493;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 40px;
    }

    .small-btn2 {
        background-color: #FF1493;
        border: none;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        color: white;
        margin-top: 20px;
    }

    .btn {
        width: 270px;
        height: 50px;
        background-color: #FF1493;
        border-radius: 20px;
        color: white;
        border: none;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        transition: all .2s ease-in-out;
        margin-top: 10px;
        }
        
        .btn:hover {
        background-color: rgba(255, 20, 145, 0.269);
        
        }

    .btn4 {
    background-color: white;
    width: 220px;
    height: 50px;
    border:none;
    margin-right: 3px;
    font-family: arial;
    margin-left: 7px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    cursor: pointer;
    }

    .btn4:hover {
        background-color: var(--background-color);
    }

.spm {
    color: var(--headline-color);
    padding-right: 7px;
    font-size: large;
}

.button-table {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: none;
    color: white;
    border: none;
    font-size: 70%;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
}

/* ------------------------------------ Headlines ------------------------------------- */

#headline {
    color: var(--headline-color);
    font-size: 300%;
    margin: 0px 5px
    }
    
    .headline3 {
    color: black;
    font-size: 120%;
    font-weight: lighter;
    margin: 25px 5px;
    }

    .headline-three {
        color: var(--headline-color);
        text-align: center;
        padding: 0px 5px 0px 5px;
        margin-bottom: 10px;
        padding-top: 100px;
        font-size: 230%;
        }
    
    .headline-two {
    color: black;
    text-align: center;
    padding: 0px 5px 0px 5px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 230%;
    }

    .overskrifter {
    text-align: center;
    margin-top: 80px;
    font-size: xx-large;
    }

    .headline5 {
    text-align: center;
    color: var(--headline-color);
    font-size: x-large;
    margin-bottom: 80px;
    }

    .symbolzz {
     font-size: 80px;
     margin: 0 auto;
    }

    #overskrift-banner-two {
        font-size: 30px;
        color: #778899;
        padding-top: 175px;
        }

    .wix-headline {
        text-align: center;
        font-size: 25px;
    }

/* ----------------------------------- Header -------------------------------------------- */

.header {
width: 100%;
height: 60px;
background: white;
position: fixed;
z-index: 100;
top: 0;
box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.016),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.016),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* --------------------------------- Navigation-bar ------------------------------ */

.navigation-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 6px;
}

::selection {
    color: none;
    background: none;
}

.logo {
background-image: url("Bilder/logo.png");
width: 180px;
height: 50px;
background-size: cover;
background-repeat: no-repeat;
display: inline-block;
padding-left: 40px;
cursor: pointer;
}

.hamburger {
font-size: 30px;
color: black;
display: none;
}

.logoboks {
display: flex;
align-items: baseline;
    
}

.ulclass {
display: inline;
padding-right: 100px;
}

.liclass, .aclass {
font-size: 20px;
color: black;
display: inline-block;
text-decoration: none;
padding-left: 40px;
}

.aclass {
    transition: all .2s ease-in-out;
}

.aclass:hover {
color:rgba(0, 0, 0, 0.269);
}

.nav-boxy-class {
    position: absolute;
    height: 2000px;
    width: 300px;
    right: 3px;
    top: 130px;
    background: black;
    display: none;
    box-shadow: var(--box-shaddow);
}

.show {
display: block;
}    

.ulid2 {
display: inline-block;
list-style: none;
margin-left: 30px;

position: absolute;
}

.li2 {
padding-top: 40px;
position: ;
text-decoration: none;
display: block;
color: white;
}


.ar {
color: white;
}


/* --------------------------------------- Banner One --------------------------------------------- */

.banner {
display: grid;
width: 100%;
height: 500px;
margin-top: 60px;
background-color: var(--background-color);
grid-template-columns: 1fr 1fr;
}

.box-one {
display: flex;
flex-flow: column;
align-self: center;
margin-left: 200px;
}

.box-two {
align-self: center;
justify-self: center;
margin-right: 50px;
}
    
.imageinbox {
background-image: url("Bilder/ppc.png");
width: 400px;
height: 400px;
background-size: cover;
background-repeat: no-repeat;
}

.imageinbox2 {
    width: 40px;
    height: auto;
background-size: cover;
background-repeat: no-repeat;
}

/* ------------------------------------- Social media symbols (prøver knapper og tekst her isteden) --------------------------------- */

.what-is {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 1000px;
    font-size: large;
    line-height: 1.7;
}

.what-is-two {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1000px;
    font-size: large;
    line-height: 1.7;
}


.socialmedia-symbols {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: 30px;
}

.sm {
    padding: 35px 20px;
    font-size: 20px;
}

.fb {
color: blue;
transition: all .2s ease-in-out;
}

.fb:hover {
    color: rgba(0, 0, 255, 0.173);
}

.tw {
color: red;
transition: all .2s ease-in-out;
}

.tw:hover {
color: rgba(255, 0, 0, 0.091);
}

.lk {
    color: green;
    transition: all .2s ease-in-out;
    }

.lk:hover {
    color:  rgba(0, 128, 0, 0.084);
}

.button-span {
display: flex;
justify-content:center;
background-color: var(--background-color);


}

/* --------------------------------------- Headline over top grid ----------------------------- */



/* --------------------------------------- Wrapper around top grid ----------------------------- */

.wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px
    }

/* --------------------------------------- Grid one -------------------------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    gap: 20px 20px;
    grid-template-areas:
    
                        "one two three four"
                        "one two three four"
                        "one two three four"
                        "one two three four"
    ;
    }

/* ------------------------------------- Items inside grid one ------------------------------------- */

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        min-width: 250px;
        border-radius: 20px; 
        box-shadow: var(--box-shaddow);
        transition: all .3s ease-in-out;
        cursor: pointer;
        }
        
        .toppick {
            position: absolute;
            top: -29px;
            color: white;
            text-transform: uppercase;
            font-size: 17px;
        }

        .logoboks-one {
        
        display: flex;
        align-items: center;
        height: 100px;    
        }
        
        .grid-item:hover { 
        transform: scale(1.05); 
        }
        
        .one,
        .two,
        .three,
        .four {
        padding: 20px;
        }
        
        .one {
        grid-area: one;
        }
        
        .two {
        grid-area: two;
        border-top: 40px solid var(--button-color);
        position: relative;
            
    }
        
        /*

        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.077),
        0 6.7px 5.3px rgba(0, 0, 0, 0.077),
        0 12.5px 10px rgba(0, 0, 0, 0),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.064);;
        transform: scale(1.04);
        
    */

        .two:hover {
            transform: scale(1.1);
        }
        
        .three {
        grid-area: three;
        
        }
        
        .four {
        grid-area: four;
        }

        .tekst {
            font-weight: lighter;
            font-size: small;
            color: black;
            
            }
            




/* --------------------------------------- Banner two ----------------------------------------- */

.banner-two {
    width: 100%;
    height: 400px;
    background-color: var(--background-color);
    text-align: center;
    margin-top: 100px;
    gap: 20px;
    }
    
   
    
    .para-banner-two {
    padding-top: 10px;
    }


/*------------------------------------------ Grid-one items styling ------------------------------------------ */

.symbolboks {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.tekstboks5 {
    display: flex;
    flex-direction: column;
    float: left;
    line-height: 1.37;
    margin-left: 10px;
    margin-top: 31px;
}

.v {
    color: green;
    padding-top: 5px;
}

.m {
    color: red;
    padding-top: 5px;
}

.reviewboks {
   width: 200px;
   font-style: italic;
   margin-top: 10px;
   margin-bottom: 30px;
   text-align: center;
}

.penger {
    color: var(--headline-color);
    font-size: 30px;
}

.underpenger {
    font-size: small;
    color: grey;
}

.symbolboks2 {
    margin-top: 50px;
    margin-bottom: 10px;
} 

.forstørre {
    font-size: 40px;
    padding: 0 5px 0 5px;
    color: rgba(4, 3, 3, 0.714);
}

/* ------------------------------------------- table -------------------------------------------------------*/

.table {
margin: 0 auto;
width: 70%;
height: 1000px;
box-shadow: var(--box-shaddow);
border-collapse: collapse;  
margin-top: 100px;
text-align: center;
margin-bottom: 100px;
}

tr, td, th {
border: solid lightgray 1px;    
}

th, tr, td {
    width: 10000px;
}

#tablerow {
    background-color: ;
    font-size: x-large;
    
}


/* --------------------------------------------- Grid 5 ---------------------------------------- */


.wrapper-around-grid-five {
    max-width: 900px;
    height: auto;
    margin-left: 10%;
}

.grid5 {
    display: grid;
    width: 100%;
    height: 1000px;
    box-shadow: var(--box-shaddow);
    border-radius: 10px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
    grid-template-areas: "topleft topright" 
                         "bottoms bottoms ";
}

.item-one-grid-five {
    
    grid-area: topleft;
    align-self: center;
    margin-left: 100px;
   

}

.item-two-grid-five {
    grid-area: topright;
    align-self: center;
    margin-bottom: 50px;
}

.item-three-grid-five {
 
    grid-area: bottoms;
    width:90%
}


/* ------------------------------- Media queries ----------------------------------- 
------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/





/* ------------------------------ max-width 1325px ------------------------- */

@media all and (max-width: 1325px) {
.grid-container {
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 1fr 1fr;
gap: 30px 30px;
grid-template-areas:
        
                            "one two"
                            "three four";
}

.btn {
    margin: 10px auto;
    }

.box-one {
    text-align: center;
    margin-left: 100px; 
    }

.box-two {
margin-right: 0px;
    }

.ulclass {
display: none;
}

.hamburger {
font-size: 30px;
color: black;
display: block;
margin-right: 50px;
cursor: pointer;
}

.hamburger:hover {
color: grey;
}



/* ------------------------------- max-width 860px ---------------------------------- */

@media all and (max-width: 875px) {
.banner {
display: grid;
width: 100%;
height: 700px;
margin-top: 100px;
background-color: var(--background-color);
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
        }

.btn {

width: 150px;
font-size: 20px;
margin-top: 20px;

}

#headline {
color: #00008B;
font-size: 300%;
padding-top: 30px;
}

.box-two {
margin-right: 0px;
}

.box-one {
text-align: center;
margin-left: 0px; 
}

}

/* --------------------------------- max-width 670px (mobile) ------------------------------ */

@media all and (max-width: 670px) {
    .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    gap: 30px 30px;
    grid-template-areas:
            
                                "two"
                                "one"
                                "three"
                                "four";
    }
    
    .banner {
        height: 740px;
        margin-top: 60px;
        
    }    

    .nav-boxy-class {
        width: 200px;
    }

    .imageinbox {
    background-image: url("Bilder/imacsmall.png");
    width: 290px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    }

    #headline {
    font-size: 250%;
    margin-top: 50px;
        }

    .headline-two {
        font-size: 160%;
    }

    .headline3 {
        font-size: 15px;
        margin-top: 30px;
    }

    .btn {
        width: 100px;
        background-color: #FF1493;
        border-radius: 20px;
        color: white;
        border: none;
        font-size: 80%;
        font-weight: bold;
        cursor: pointer;
        transition: all .3s ease-in-out;
        margin-top: 30px;
        }

    .header {
        height:70px;
        box-shadow: none;
        background-color: white;
        border-bottom: solid lightgray 1px;

    }

    .logo {
        width: 200px;
        height: 50px;
    }

    .hamburger {
        font-size: 25px;
        margin-right: 10px;
    }

    .navigation-wrapper {
        padding-top: 10px;
    }

    .box-two {
        margin-bottom: 70px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
        margin: 50px auto;
        }

        .flex-grid:hover { 
            transform: none; 
            }
        
        .grid-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      
        }
    }
}

/* -------------------------------------- Landscape view --------------------------- */

@media only screen (max-width: 800px) and (orientation:landscape) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px;
        grid-template-rows: 400px 400px 400px 400px;
        gap: 30px 30px;
        grid-template-areas:
                
                                    "one"
                                    "two"
                                    "three"
                                    "four";
        }
        
        .banner {
            height: 740px;
            margin-top: 60px;
            
        }    
    
        .imageinbox {
        background-image: url("Bilder/imacsmall.png");
        width: 290px;
        height: 290px;
        background-size: cover;
        background-repeat: no-repeat;
        }
    
        #headline {
        font-size: 250%;
        margin-top: 50px;
            }
    
        .headline-two {
            font-size: 160%;
        }
    
        .headline3 {
            font-size: 15px;
            margin-top: 30px;
        }
    
        .btn {
            width: 100px;
            background-color: #FF1493;
            border-radius: 20px;
            color: white;
            border: none;
            font-size: 80%;
            font-weight: bold;
            cursor: pointer;
            transition: all .3s ease-in-out;
            margin-top: 30px;
            }
    
        .header {
            height:70px;
            box-shadow: none;
            background-color: white;
            border-bottom: solid lightgray 1px;
    
        }
    
        .logo {
            width: 200px;
            height: 50px;
        }
    
        .hamburger {
            font-size: 25px;
            margin-right: 10px;
        }
    
        .navigation-wrapper {
            padding-top: 10px;
        }
    
        .box-two {
            margin-bottom: 70px;
        }
    
        .wrapper {
            display: flex;
            justify-content: center;
            width: 95%;
            margin: 0 auto;
            margin: 50px auto;
            }
    
            .flex-grid:hover { 
                transform: none; 
                }
            
            .grid-item {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      
            }
        }
    }