/* ------------------------------------ Variables -------------------------------------- */

:root {
--background-color:#F8F8FF;
}

/* ------------------------------------ All ------------------------------------------- */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: arial;
}

/* ----------------------------------- Header -------------------------------------------- */

.header {
width: 100%;
height: 100px;
background: var(--background-color);
position: fixed;
z-index: 100;
top: 0;
box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* --------------------------------- Navigation-bar ------------------------------ */

.navigation-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
}

.logo {
background-image: url("Bilder/logo.png");
width: 180px;
height: 50px;
background-size: cover;
background-repeat: no-repeat;
display: inline-block;
padding-left: 40px;
cursor: pointer;
}

.hamburger {
font-size: 30px;
color: black;
display: none;
}

.logoboks {
display: flex;
align-items: baseline;
    
}

ul {
display: inline;
padding-right: 100px;
}

li, a {
font-size: 20px;
color: black;
display: inline-block;
text-decoration: none;
padding-left: 40px;
}

a:hover {
color: grey;
}

/* --------------------------------------- Banner One --------------------------------------------- */

.banner {
display: grid;
width: 100%;
height: 500px;
margin-top: 100px;
background-color: var(--background-color);
grid-template-columns: 1fr 1fr;
}

.box-one {
display: flex;
flex-flow: column;
align-self: center;
margin-left: 200px;
}

#headline {
color: #00008B;
font-size: 300%;
margin: 0px 5px
}

.headline3 {
color: black;
font-size: 120%;
font-weight: lighter;
margin: 25px 5px;
    }
    
.btn {
width: 270px;
height: 50px;
background-color: #FF1493;
border-radius: 20px;
color: white;
border: none;
font-size: 100%;
font-weight: bold;
cursor: pointer;
transition: all .3s ease-in-out;
margin-top: 10px;
}

.btn:hover {
transform: scale(1. 1);
}

.box-two {
align-self: center;
justify-self: center;
margin-right: 50px;
}
    
.imageinbox {
background-image: url("Bilder/ppc.png");
width: 400px;
height: 400px;
background-size: cover;
background-repeat: no-repeat;
}

/* ------------------------------------- Social media symbols --------------------------------- */


.socialmedia-symbols {
    display: flex;
    justify-content: center;
}

.sm {
    padding: 35px 20px;
    font-size: 20px;
}

.fb {
color: blue;
}

.tw {
color: red;
}

.lk {
    color: green;
    }

/* --------------------------------------- Headline over top grid ----------------------------- */

.headline-two {
    color: black;
    text-align: center;
    padding: 30px 5px 0px 5px;
    font-size: 230%;
    }

/* --------------------------------------- Wrapper around top grid ----------------------------- */

.wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin: 50px auto;
    }

/* --------------------------------------- Grid one -------------------------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    gap: 20px 20px;
    grid-template-areas:
    
                        "one two three four"
                        "one two three four"
                        "one two three four"
                        "one two three four"
    ;
    }

/* ------------------------------------- Items inside grid one ------------------------------------- */

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        min-width: 250px;
        border-radius: 20px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all .3s ease-in-out;
        cursor: pointer;
        }
        
        .logoboks-one {
        
        display: flex;
        align-items: center;
        height: 100px;    
        }
        
        .grid-item:hover { 
        transform: scale(1.1); 
        }
        
        .one,
        .two,
        .three,
        .four {
        padding: 20px;
        }
        
        .one {
        grid-area: one;
        }
        
        .two {
        grid-area: two;
        }
        
        .three {
        grid-area: three;
        
        }
        
        .four {
        grid-area: four;
        }

        .tekst {
            font-weight: lighter;
            font-size: small;
            color: black;
            
            }
            
            .small-btn {
            background-color: #FF1493;
            border: none;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            color: white;
            margin-top: 40px;
            }


/* --------------------------------------- Banner two ----------------------------------------- */

.banner-two {
    width: 100%;
    height: 400px;
    background-color: var(--background-color);
    text-align: center;
    margin-top: 100px;
    gap: 20px;
    }
    
    #overskrift-banner-two {
    font-size: 30px;
    color: #778899;
    padding-top: 100px;
    }
    
    .para-banner-two {
    padding-top: 10px;
    }


/*------------------------------------------ Flexo  ------------------------------------------ */

.flexo {
display: flex;

flex-wrap: wrap;
justify-content: center;

margin-top: 100px;
margin-bottom: 100px;
}

.flexy {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    height: 500px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

.uno {
  
}

.dos {
    
}

.tres {
    
}

.quatro {
   
}

.h3class {
    text-align: center;
  
    color: white;
    font-size: 5vw;
    margin-top: 30px;

}

.overskrifter {
    text-align: center;
    margin-top: 80px;
    font-size: xx-large;
}

.btns {
    width: 50%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    color: black;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 80% 25%;
    }

    .footer {
        
    }

/* ------------------------------- Media queries ----------------------------------- 
------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/





/* ------------------------------ max-width 1325px ------------------------- */

@media all and (max-width: 1325px) {
.grid-container {
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 1fr 1fr;
gap: 30px 30px;
grid-template-areas:
        
                            "one two"
                            "three four";
}

.btn {
    margin: 10px auto;
    }

.box-one {
    text-align: center;
    margin-left: 100px; 
    }

.box-two {
margin-right: 0px;
    }

ul {
display: none;
}

.hamburger {
font-size: 30px;
color: black;
display: block;
margin-right: 50px;
cursor: pointer;
}

.hamburger:hover {
color: grey;
}

/* ------------------------------- max-width 860px ---------------------------------- */

@media all and (max-width: 875px) {
.banner {
display: grid;
width: 100%;
height: 700px;
margin-top: 100px;
background-color: var(--background-color);
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
        }

.btn {

width: 150px;
font-size: 20px;
margin-top: 20px;

}

#headline {
color: #00008B;
font-size: 300%;
padding-top: 30px;
}

.box-two {
margin-right: 0px;
}

.box-one {
text-align: center;
margin-left: 0px; 
}

}

/* --------------------------------- max-width 670px (mobile) ------------------------------ */

@media all and (max-width: 670px) {
    .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 400px 400px 400px 400px;
    gap: 30px 30px;
    grid-template-areas:
            
                                "one"
                                "two"
                                "three"
                                "four";
    }
    
    .banner {
        height: 740px;
        margin-top: 60px;
        
    }    

    .imageinbox {
    background-image: url("Bilder/imacsmall.png");
    width: 290px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    }

    #headline {
    font-size: 250%;
    margin-top: 50px;
        }

    .headline-two {
        font-size: 160%;
    }

    .headline3 {
        font-size: 15px;
        margin-top: 30px;
    }

    .btn {
        width: 100px;
        background-color: #FF1493;
        border-radius: 20px;
        color: white;
        border: none;
        font-size: 80%;
        font-weight: bold;
        cursor: pointer;
        transition: all .3s ease-in-out;
        margin-top: 30px;
        }

    .header {
        height:70px;
        box-shadow: none;
        background-color: white;
        border-bottom: solid lightgray 1px;

    }

    .logo {
        width: 200px;
        height: 50px;
    }

    .hamburger {
        font-size: 25px;
        margin-right: 10px;
    }

    .navigation-wrapper {
        padding-top: 10px;
    }

    .box-two {
        margin-bottom: 70px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
        margin: 50px auto;
        }

        .flex-grid:hover { 
            transform: none; 
            }
        
        .grid-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      
        }
    }
}

/* -------------------------------------- Landscape view --------------------------- */

@media all and (max-width: 800px) and (orientation:landscape) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px;
        grid-template-rows: 400px 400px 400px 400px;
        gap: 30px 30px;
        grid-template-areas:
                
                                    "one"
                                    "two"
                                    "three"
                                    "four";
        }
        
        .banner {
            height: 740px;
            margin-top: 60px;
            
        }    
    
        .imageinbox {
        background-image: url("Bilder/imacsmall.png");
        width: 290px;
        height: 290px;
        background-size: cover;
        background-repeat: no-repeat;
        }
    
        #headline {
        font-size: 250%;
        margin-top: 50px;
            }
    
        .headline-two {
            font-size: 160%;
        }
    
        .headline3 {
            font-size: 15px;
            margin-top: 30px;
        }
    
        .btn {
            width: 100px;
            background-color: #FF1493;
            border-radius: 20px;
            color: white;
            border: none;
            font-size: 80%;
            font-weight: bold;
            cursor: pointer;
            transition: all .3s ease-in-out;
            margin-top: 30px;
            }
    
        .header {
            height:70px;
            box-shadow: none;
            background-color: white;
            border-bottom: solid lightgray 1px;
    
        }
    
        .logo {
            width: 200px;
            height: 50px;
        }
    
        .hamburger {
            font-size: 25px;
            margin-right: 10px;
        }
    
        .navigation-wrapper {
            padding-top: 10px;
        }
    
        .box-two {
            margin-bottom: 70px;
        }
    
        .wrapper {
            display: flex;
            justify-content: center;
            width: 95%;
            margin: 0 auto;
            margin: 50px auto;
            }
    
            .flex-grid:hover { 
                transform: none; 
                }
            
            .grid-item {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      
            }
        }
    