/* All */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: arial; /* husk å legge til font fra google f.eks. */
font-size: 16px;
color: rgb(2, 2, 65);
scroll-behavior: smooth;
}

a {
text-decoration: none;
}

.rotate {
transform: rotate(180deg) ;
}

.rotate_two {
transform: rotate(180deg) ;
}

.cfv {
display: flex ;
}

.farge {
    color: lightgray;
}

.content:hover{
    color: black;
}

/* ---- Review siden ---- */

.innpakning {
    
    width: 80%;
    margin: 100px auto 100px;
    
}

.margino {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   margin-left: 50px;
   margin-right: 50px;  
}

.midtstill {
    width: 800px;
}

.mellomrom {
    padding-bottom: 20px;
    font-size: 1.1rem;
}


/* ---- Review siden end ---- */


/* --- boks wix */

.wix-overskrift {
    margin-top: 170px;
    text-align: center;
    font-size: 3rem;
    color: #00008B;
}

.dudewhere {
    margin-bottom: 50px;
}

.grid-container-wix {
    display: grid;
    width: 1200px;
    height: 200px;
    margin: 100px auto 50px;
    grid-template-columns: 300px 300px 300px 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-areas: "wixZero wixOne wixTwo wixThree";
}

.ratter {
    margin-bottom: 10px;
}

.boks0-wix {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: wixZero;
}

.boks1-wix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: wixOne;
}

.boks2-wix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: wixTwo;
}

.boks3-wix {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: wixThree;
}

.button-wix {
    background-color: #FF1493;
    display: flex;
    color: white;
    width: 200px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bolder;
}

/* --- boks wix */

.flexbox-med-logoer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
}

.kun_margin {
    margin-bottom: 500px;
}

.lesMer {
    display: none;
}

.dropdown-content-linker {
padding: 10px;
color: #00008B;
font-weight: bolder;
}

.dropdown-content-linker:hover {
    color: rgb(147, 147, 169) ;
}

.dropdown-content {
position: absolute;
display: none;
flex-direction: column;
right: 0px;
top: 100px;
background-color: white;
padding: 20px;
width: 230px;
height: 500px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;
}



.sidemeny_hide {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0px;
    top: 540px;
    background-color: white;
    width: 70px;
    height: 60px;
    
}

.show-dropdown {
display: flex;
}

.debug {
border: solid green 1px;
}

.table {
    height: auto;
}







/* Buttons */



.small {
background-color: #FF1493;
width: 200px;
height: 40px;
border-radius: 20px;
color: white;
text-align: center;
padding-top: 11px;
display: block;
font-weight: bold;
text-decoration: none;
}

.small-btn2 {
background-color: #FF1493;
width: 200px;
height: 40px;
border-radius: 20px;
color: white;
margin-top: 20px;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
box-shadow: 0px 15px 20px -5px rgb(217, 214, 229);
}

.small-btn22 {
    background-color: #FF1493;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    font-weight: bold;
    }

.btn {
width: 240px;
height: 50px;
background-color: #FF1493;
border-radius: 20px;
color: white;
font-weight: bold;
cursor: pointer;
transition: all .2s ease-in-out;
margin: 10px;
text-align: center;
text-decoration: none;
color: white;
padding-top: 16px;
font-size: 1rem;
 }
        
.btn:hover {
background-color: rgba(255, 20, 145, 0.269);
}



.button-table {
width: 100%;
height: 100%;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
color: white;
}

.review-button {
margin-bottom: 20px;
font-size: 80%;
margin-top: 6px;
text-decoration: none;
border: solid grey 1px;
background-color: rgb(238, 237, 237);
border-radius: 5px;
padding: 1px;
}

.content {
padding-right: 2px;
color: blue;
cursor: pointer;
}

.curz {
cursor: pointer;
font-size: 30px;
color: lightgrey;
}

/* ------------------------------------ Headlines ------------------------------------- */

#headline {
color: #00008B;
font-size: 3rem;
margin: 0px 5px;
padding-top: 25px;
}
    
.headline3 {
color: black;
font-weight: lighter;
margin: 25px 5px;
font-size: 1.1rem;
}

.headline-three {
color: rgb(96, 96, 96);
text-align: center;
padding: 0px 5px 0px 5px;
margin-bottom: 10px;
padding-top: 100px;
font-size: 2rem;
}
    
.headline-two {
color: #00008B;
text-align: center;
padding: 0px 5px 0px 5px;
margin-bottom: 40px;
margin-top: 60px;
font-size: 2.5rem;
}

.headline5 {
text-align: center;
color: #00008B;
font-size: 1.7rem;
margin-bottom: 0px;
margin-top: 60px;
}

.headline6 {
text-align: center;
color: #00008B;
font-size: 1.5rem;
margin-bottom: 70px;
margin-top: 90px;
}



.headline7 {
text-align: center;
color: #00008B;
font-size: 1.5rem;
margin-bottom: 60px;
margin-top: 80px;
}



.symbolzz {
font-size: 4rem;
margin: 0 auto;
color: rgb(96, 96, 96);
}

#overskrift-banner-two {
font-size: 2rem;
color: #778899;
padding-top: 175px;
padding-right: 5px;
padding-left: 5px;
}

.wix-headline {
text-align: center;
font-size: 1.2rem;
}



/* ----------------------------------- Header -------------------------------------------- */

.header {
width: 100%;
height: 60px;
background: #F8F8FF;
position: fixed;
z-index: 100;
top: 0;
box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.016),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.016),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* --------------------------------- Navigation-bar ------------------------------ */

.navigation-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 6px;
}



.logo {
background-image: url("Bilder/logo.png");
width: 180px;
height: 50px;
background-size: cover;
background-repeat: no-repeat;
display: inline-block;
padding-left: 40px;
cursor: pointer;
}

.hamburger {
font-size: 1.5rem;
color: black;
display: none;
}

.logoboks {
display: flex;
align-items: baseline;   
}

.float {
    float: right;
}

.spacez {
    margin: 10px 0px 10px;
    font-size: 1.1rem;
}

.spacez2 {
    margin: 30px 0px 10px;
    font-size: 1.1rem;
    color: #00008B;
}

.ulclass {
display: inline;
padding-right: 40px;
}

.liclass {
font-size: 1rem;
color: black;
display: inline-block;
text-decoration: none;
padding-left: 70px;
}



.nav-boxy-class {
position: absolute;
height: 2000px;
width: 300px;
right: 3px;
top: 130px;
background: black;
display: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show {
display: block;
}    

.ulid2 {
display: inline-block;
list-style: none;
margin-left: 30px;
position: absolute;
}

.li2 {
padding-top: 40px;
text-decoration: none;
display: block;
color: white;
}


.ar {
color: white;
}



/* --------------------------------------- Banner One --------------------------------------------- */

.wrapper-around-banner {
display: flex;
width: 100%;
justify-content: center;
}

.banner {
display: grid;
width: 1200px;
height: 500px;
margin-top: 60px;
grid-template-columns: 600px 600px;
}

.box-one {
display: flex;
flex-flow: column;
align-self: center;
margin-left: 80px ;
}

.box-two {
align-self: center;
justify-self: center;
}
    
.imageinbox {
background-image: url(Bilder/computer-mobile-big.jpg);
width: 500px;
height: 333px;
background-size: cover;
background-repeat: no-repeat;
margin-top: 35px;
}

/* - S */

.what-is {
text-align: center;
width: 70%;
margin: 0 auto;
margin-bottom: 70px;
max-width: 1500px;
font-size: 1.1rem;
line-height: 1.7;
}

.what-is-two {
text-align: center;
width: 70%;
margin: 0 auto;
margin-bottom: 10px;
max-width: 1000px;
font-size: 1rem;
line-height: 1.7;
color: rgb(96, 96, 96);
}


.socialmedia-symbols {
display: flex;
justify-content: center;
margin-top: 30px;
}

.sm {
padding: 35px 20px;
font-size: 1rem;
}

.fb {
color: blue;
transition: all .2s ease-in-out;
}

.fb:hover {
color: rgba(0, 0, 255, 0.173);
}

.tw {
color: blue;
transition: all .2s ease-in-out;
}

.tw:hover {
color: rgba(255, 0, 0, 0.091);
}

.lk {
color: red;
transition: all .2s ease-in-out;
    }

.lk:hover {
color:  rgba(0, 128, 0, 0.084);
}

.button-span {
display: flex;
justify-content:center;

}

.anglez {
display: none;
}

.tegz {
position: relative;
}

/* --------------------------------------- Wrapper around top grid ----------------------------- */

.wrapper {
display: flex;
justify-content: center;
width: 80%;
margin: 0 auto;
margin-top: 80px
}

.container-bbxo {
    margin-bottom: 100px;
}

/* --------------------------------------- Grid one -------------------------------------------- */

.grid-container {
display: grid;
grid-template-columns: repeat(4,300px);
grid-template-rows: auto;
gap: 20px 20px;
grid-template-areas:
    
                        "one three two four"
                        "one three two four"
                        "one three two four"
                        "one three two four"
    ;
    }

/* ------------------------------------- Items inside grid one ------------------------------------- */

.grid-item {
display: flex;
flex-direction: column;
position: relative;
align-items: center;
height: 690px;
min-width: 250px;
border-radius: 20px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
        
.toppick {
position: absolute;
top: -24px;
color: white;
text-transform: uppercase;
font-size: 1rem;
}

.logoboks-one {
        
display: flex;
align-items: center;
height: 100px; 
}
        
.one,
.two,
.three,
.four {
padding: 20px;
border-top: 30px solid white;
}
        
.one {
grid-area: one;
}
        
.lets {
grid-area: two;
border-top: 30px solid #FF1493;
position: relative;

}
        
.three {
grid-area: three;
}
        
.four {
grid-area: four;
}
            




/* --------------------------------------- Banner two ----------------------------------------- */

.banner-two {
width: 100%;
height: 400px;
background-color: #F8F8FF;
text-align: center;
margin-top: 100px;
}
    
.banner-twoz{
width: 100%;
height: 400px;
text-align: center;
margin-top: 100px;
background-color: #F8F8FF;
}

.yoyoyo {
font-size: 4rem;
margin-top: 20px;
color: rgb(96, 96, 96);
    
}

.para-banner-two {
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
}


/*------------------------------------------ Grid-one items styling ------------------------------------------ */

.symbolboks {
display: flex;
flex-direction: column;
float: left;
margin-left: 5px;
}

.tekstboks5 {
display: flex;
flex-direction: column;
float: left;
line-height: 1.37;
margin-left: 10px;

}

.v {
color: green;
padding-top: 5px;
}

.m {
color: red;
padding-top: 5px;
}

.reviewboks {
width: 200px;
margin-top: 10px;
margin-bottom: 5px;
text-align: center;
}

.penger {
color: #00008B;
font-size: 1.4rem;
margin-bottom: 20px;
}

.starr {
    border: solid #00008B  1px;
    background-color: green;
    padding: 2px;
    color: white;
}

.rating {
    color:#00008B;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.stjerne-beholder {
    margin-bottom: 10px;
}

.underpenger {
font-size: 0.7rem;
color: grey;
margin-bottom: 10px;
}

.symbolboks2 {
margin-top: 20px;
margin-bottom: 10px;
} 

.forstorre {
font-size: 2rem;
padding: 0 5px 0 5px;
color: rgba(4, 3, 3, 0.714);
}

/* ------------------------------------------- table -------------------------------------------------------*/

.table {
margin: 0 auto;
width: 70%;
max-width: 1200px;
height: 900px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-collapse: collapse;  
margin-top: 50px;
text-align: center;
margin-bottom: 100px;

}

tr, td, th {
border: solid lightgray 1px;    
}

th, tr, td {
font-size: 1rem;
}

.tablerow {
font-size: 1rem;
width: 70px;
background-color:#FF1493;  
}


/* --------------------------------------------- Grid 5 ---------------------------------------- */






.boks3-nederst {
text-align: center;
}

.table-in-review {
width: 80%;
margin: 0 auto;
height: 350px;
}





.webhosting-dave {
float: right;
margin-top: 20px;
margin-left: 20px;
}



#wixwax {
width: 200px;
height: 200px;
margin-top: 40%;
}  


.fb, .tw, .lk, .fa-instagram {
    padding-left: 30px;
}

/* table-two */

.table-two {
width: 500px;
height: 100%;
text-align: center;
}

/* -- to hvite flexbokser -- */

.headlinezzz {
    color: #00008B;
    margin-top: 20px;
    }
    
    .flexbbx {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        gap: 15px;
        margin: auto;
        justify-content: center;
    }
    
    .flexbbxo {
        width: 300px;
        height: auto;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    
    .ppp {
        margin: 10px 30px 10px 30px;
        text-align: justify;
    }
    
    .image-cont {
        margin: 20px;
    }
    
    .image-cont-two {
        margin-top: 50px;
        margin-bottom: 52px;
    }


/* ---------------- footer --------------- */


.footer {
height: 100%;
width: 100%;
background-color: #F8F8FF;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 400px 400px 100px;
grid-template-areas:     ". gr3 gr3 gr2 gr5 ."
                         ". gr3 gr3 gr2 gr5 ."
                         "gr4 gr4 gr4 gr4 gr4 gr4"

                    }

.grid1footer {
display: flex;
justify-content: center;
grid-area: gr1; 
}

.grid2footer {
display: flex;
justify-content: center;
grid-area: gr2;  
}

.grid3footer {
display: flex;
justify-content: center;
grid-area: gr3;
padding-right: 20px;
}

.grid4footer {
display: flex;
justify-content: center;
grid-area: gr4; 
}

.grid5footer {
display: flex;
justify-content: center;
grid-area: gr5;   
}

.grid6footer {
display: flex;
justify-content: center;
grid-area: gr6;   
}

.bokser-i-footer {
margin-top: 60px;
line-height: 2.5;
text-align: justify;
}

.tres-amigo {
width: 80%;
margin-top: 70px;
line-height: 1.5;
}

/* -------------------------------------- Reviews.html --------------------------- */

#review-container {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    }
    
    .grid-boks-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 300px 300px;
    grid-gap: 50px;
    grid-template-areas: ". b-zero ."
                         "b-uno b-dos b-tres"
                         "b-quatro b-cinco b-seis"
                         "b-siete b-ocho b-nueve" 
                         "b-dies b-onze b-doze"            ;
    }
    
    .overskrift-reviews {
    text-align: center;
    font-size: 3rem;
    color: #00008B;
    }
    
    .h3{
    display: block;
    text-align: center;
    }
    
    .b-zero {
    grid-area: b-zero;
    }
    
    .b-uno {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: b-uno;
    }
    
    .b-dos {
    grid-area: b-dos;
    }
    
    .b-tres {
    grid-area: b-tres;
    }
    
    .b-quatro {
    grid-area: b-quatro;
    }
    
    .b-cinco {
    grid-area: b-cinco;
    }
    
    .b-seis {
    grid-area: b-seis;
    }
    
    .b-siete {
    grid-area: b-siete;
    }
    
    .b-ocho {
    grid-area: b-ocho;
    }
    
    .b-nueve {
    grid-area: b-nueve;
    }
    
    .b-dies {
    grid-area: b-dies;   
    }
    
    .b-onze {
    grid-area: b-onze;   
    }
    
    .b-doze {
    grid-area: b-doze;   
    }
    
    .b-uno-button-boks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin-top: 30px;
    }
    
    .buz {
    width: 200px;
    height: 40px;
    color: red;
    margin: 0 auto;
    text-align: center;
    
    background-color: #FF1493;
    
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    
    padding-top: 11px;
    font-weight: bold;
    }


/* ------------------------------- Media queries --------------------------------- 
------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/





/* ------------------------------ max-width 1325px ------------------------- */

@media all and (max-width: 1325px) {
.grid-container {
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 1fr 1fr;
gap: 30px 30px;
grid-template-areas:
        
                            "one two"
                            "three four";
}

.btn {
margin: 10px auto;
}

.box-one {
text-align: center;
margin-left: 10%; 
}

.box-two {
margin-right: 0px;
}

.ulclass {
display: none;
}

.hamburger {
display: block;
margin-right: 50px;
cursor: pointer;
}

.hamburger:hover {
color: grey;
}

.banner {
    width: 100%;
}



.table-two {
width: 80%;
margin: 0 auto;
height: auto;
}


.grid-container-wix {
   
    width: 600px;
    height: 300px;
    margin: 100px auto 50px;
    grid-template-columns: 300px 300px;
    
    
    grid-template-areas: "wixZero wixOne"
                         "wixTwo wixThree";

}


.imageinbox {
    width: 400px;
    height: 267px;
    background-image: url(Bilder/computer-mobile-medium.jpg);
    }


.footer {
    height: 100%;
    width: 100%;
    background-color: #F8F8FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 400px 100px;
    grid-template-areas:     ". gr3 gr3 gr3 gr3 ."
                             ". gr2 gr2 gr5 gr5 ."
                             "gr4 gr4 gr4 gr4 gr4 gr4"
        
                            }



}

/* ------------------------------- max-width 1122px ---------------------------------- */

@media all and (max-width: 1122px) {
.banner {
display: grid;
width: 100%;
height: 700px;
margin-top: 100px;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
}

.headline-two {
    margin-top: 0px;
}

.btn {
width: 150px;
margin-top: 20px;
}

.box-two {
margin-right: 0px;
}

.box-one {
text-align: center;
margin-left: 0px; 
}

.table {
width: 90%
}



.grid-item {
height: 690px;
}

.bokser-i-footer {
margin-right: 0px;
}

.grid-boks-reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    grid-template-areas: "b-zero b-zero"
                         "b-uno b-dos"
                         "b-tres b-quatro"
                         "b-cinco b-seis" 
                         "b-siete b-ocho"
                         "b-nueve b-dies"
                         "b-onze b-doze";
    }





.mobil-boks {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.visblock {
display: block;
margin-top: 8px;
color: blue;
}





.fjernes {
display: none;
}



.imageinbox {
    margin-top: 0px;
}

}

/* --------------------------------- max-width 670px (mobile) ------------------------------- */

@media all and (max-width: 670px) {
.grid-container {
display: grid;
justify-content: center;
grid-template-columns: minmax(300px,325px);
grid-template-rows: auto;
gap: 30px 30px;
grid-template-areas:
            
                                "two"
                                "one"
                                "three"
                                "four";
    }
    
* {
font-size: 14px;
}


/* -- banner top --*/


.wrapper-around-banner {
width: 100%;
height: 370px;
}

.penger {
    font-size: 1.1rem;
}

.banner {
display: grid;
width: 100%;
height: 100%;
margin-top: 60px;
grid-template-columns: 1fr;
grid-template-rows: 100px 200px;
}

#headline {
font-size: 2.1rem;
margin-bottom: 10px;
margin-top: 20px;
}

.imageinbox {
    background-image: url(Bilder/computer-mobile-small.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 35px;
    }

/* -- Grid med bokser -- */

.grid-item {
height: 560px
}

.margo {
margin-top: 20px;
}

.symbolboks2 {
display: none;
}

.underpenger {
    display: none;
}

.btn4 {
margin-right: 0px;
margin-left: 0px;
}


.banner {
height: 470px;
margin-top: 60px; 
}    

.table {
width: 95%;
height: 600px;
margin-top: 40px;
margin-bottom: 60px;
}

.what-is {
width: 90%;
margin-bottom: 25px;
text-align: justify;
text-align-last: center;
}

.nav-boxy-class {
width: 200px;
}

   
.socialmedia-symbols {
display: none;
}


.headline {
padding-top: 20px;
}


.headline-two {
padding-left: 20px;
padding-right: 20px;
margin-bottom: 30px;
margin-top: 0px;
font-size: 16px;
color:gray;
}


.headline3 {
display: none;
}

.headline5 {
padding-left: 15px;
padding-right: 15px;
margin-top: 30px;
}

.headline6{
margin-top: 50px;
margin-bottom: 40px;
}

.wrapper {
margin-top: 50px;
}

.btn {
display: none;
}

.header {
height:60px;
background-color: white;
border-bottom: solid lightgray 1px;
box-shadow: none;
}

.anglez {
display: inline-block;
margin-left: 1px;
font-size: 16px;
padding-top: 2px;
}

.logo {
width: 200px;
height: 50px;
}

.hamburger {
margin-right: 20px;
}

.navigation-wrapper {
height: 60px;
padding-top: 0px;
}

.banner-two {
margin-top: 60px;
margin-bottom: 40px;
}

.banner-twoz {
margin-top: 20px;
margin-bottom: 50px;
}



.box-one {
align-self: center;
margin-top: 0px;
margin-bottom: 20px;
}

.footer {
grid-template-columns: 1fr;
grid-template-rows: auto auto auto 200px; 
grid-template-areas:         
                             "gr3"
                             "gr2"
                             "gr5"
                             "gr4";
   
}

/* boks rundt hva er webhosting */

.boks-rundt-hva {
    height: 0px;
    overflow: hidden;
}

.skruPå {
    height: auto;
}

.minusMargin {
margin-top: -38px;
}

.lesMer {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.pilen {
    margin-top: 10px;
    font-size: 20px;
    color: grey; 
}


/* boks ferdig */

.wrapper {
display: flex;
justify-content: center;
width: 95%;
}

       
.grid-item {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      
}






.grid5footer, .grid2footer {
justify-content: start;
margin-left: 10%;
}


.grid4footer {
    align-self: center;
}

.helt-nede {
    margin-left: 20px;
    margin-right: 20px;
}

.float-bilde {
width: 250px;
margin-left: 10px; 
}




.drus {
width: 280px;
}

.grid-boks-reviews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    grid-template-areas: "b-zero"
                         "b-uno"
                         "b-dos"
                         "b-tres" 
                         "b-quatro"
                         "b-cinco"
                         "b-seis"
                         "b-siete"
                         "b-ocho"
                         "b-nueve"
                         "b-dies"
                         "b-onze"
                         "b-doze";
    }


    .grid-container-wix {
   
        width: 300px;
        height: 500px;
        margin: 40px auto 50px;
        grid-template-columns: 300px;
        grid-template-rows: 150px 100px 150px 50px;
        
        
        grid-template-areas: "wixZero"
                             "wixOne" 
                             "wixTwo"
                             "wixThree";
    
    }

    .wix-overskrift {
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .flexbox-med-logoer {
    margin-bottom: 50px;
    
    }

}

/* -------------------------------------- Landscape view --------------------------- */

