:root {
--background-color:#F8F8FF;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: arial;
}

.header {
width: 100%;
height: 100px;
background: var(--background-color);
position: fixed;
z-index: 100;
top: 0;
box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.navigation-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
}

.logo {
background-image: url("Bilder/logo.png");
width: 200px;
height: 50px;
background-size: cover;
background-repeat: no-repeat;
display: inline-block;
padding-left: 40px;
cursor: pointer;

}

.hamburger {
font-size: 30px;
color: black;
display: none;
}

.logoboks {
display: flex;
align-items: baseline;
    
}

.briwide{
display: inline-block;
color: black;
margin-left: 10px;
display: none;
}

ul {
display: inline;
padding-right: 100px;
}

li, a {
font-size: 20px;
color: black;
display: inline-block;
text-decoration: none;
padding-left: 40px;
}

a:hover {
color: grey;
}

.bilde4 {
    width: 200px;
}

.socialmedia-symbols {
    display: flex;
    justify-content: center;
}

.sm {
    padding: 35px 20px;
    font-size: 20px;
}

.fb {
color: blue;
}

.tw {
color: red;
}

.lk {
    color: green;
    }

.banner {
display: grid;
width: 100%;
height: 500px;
margin-top: 100px;
background-color: var(--background-color);
grid-template-columns: 1fr 1fr;
}

.banner-two {
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    text-align: center;
    margin-top: 100px;
}

#overskrift-banner-two {
font-size: 30px;
color: #778899;
padding-top: 100px;
}

.para-banner-two {
    padding-top: 10px;
}

.box-one {
display: flex;
flex-flow: column;
align-self: center;
justify-self: center;
margin-left: 40px;
}

.box-two {
align-self: center;
justify-self: center;
margin-left: 40px;
}

.imageinbox {
background-image: url("Bilder/ppc.png");
width: 400px;
height: 400px;
background-size: cover;
background-repeat: no-repeat;
}

#headline {
color: #00008B;
font-size: 300%;
}

.headline-two {
color: black;
text-align: center;
padding: 30px 5px 0px 5px;
font-size: 230%;
}

.headline3 {
color: black;
font-size: 120%;
font-weight: lighter;
margin: 25px 0;
}

.bilde {
margin-right: 40px;
}

.btn {
width: 200px;
background-color: #FF1493;
height: 50px;
border-radius: 20px;
color: white;
border: none;
font-size: 150%;
font-weight: bold;
cursor: pointer;
transition: all .3s ease-in-out;
}
        
.btn:hover { 
transform: scale(1.2); 
}

.wrapper {
display: flex;
justify-content: center;
width: 80%;
margin: 0 auto;
margin: 50px auto;
}

.flex-item {
display: flex;
flex-direction: column;
align-items: center;
min-width: 250px;
border-radius: 20px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: all .3s ease-in-out;
cursor: pointer;
}

.logoboks-one {

        display: flex;
        align-items: center;
        height: 100px;    
        }

.flex-item:hover { 
transform: scale(1.1); 
}

.one,
.two,
.three,
.four,
.five {
padding: 20px;
}

.one {
grid-area: one;
}

.two {
grid-area: two;
}

.three {
grid-area: three;

}

.four {
grid-area: four;

}



.grid-container {
display: grid;
grid-template-columns: 300px 300px 300px 300px;
grid-template-rows: auto;
gap: 20px 20px;
grid-template-areas:

                    "one two three four"
                    "one two three four"
                    "one two three four"
                    "one two three four"
;
}

h3 {
text-align: center;
color: black;
margin-bottom: 25px;
margin-top: 25px;
}

.tekst {
font-weight: lighter;
font-size: small;
color: black;

}

.small-btn {
background-color: #FF1493;
border: none;
width: 150px;
height: 40px;
border-radius: 20px;
color: white;
margin-top: 40px;

}

.wrapper-two{
    width: 100%;
    height: 500px;
}

.grid-nede {
display: grid;
width: 100%;
height: 500px;
grid-template-columns: 100px 100px;
grid-template-rows: auto;
}

.grid-nede-boks-one {
    height: 100px;
    width: auto;
    border: solid black 1px
}

/* ------------------------------- media queries --------------------------- */

/* max-width 1325px*/

@media all and (max-width: 1325px) {
.grid-container {
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 1fr 1fr;
gap: 20px 20px;
grid-template-areas:
        
                            "one two"
                            "three four";
}

.btn {
    margin: 10px auto;
    }

.box-one {
    text-align: center;
    margin: 5px 5px; 
    }

.box-two {
margin-left: 0px;
    }

ul {
display: none;
}

.hamburger {
font-size: 30px;
color: black;
display: block;
margin-right: 50px;
cursor: pointer;
}

.hamburger:hover {
color: grey;
}



/* ------------------------------- max-width 855px ---------------------------------- */

@media all and (max-width: 855px) {
.banner {
display: grid;
width: 100%;
height: 700px;
margin-top: 100px;
background-color: var(--background-color);
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
        }

.btn {
margin: 10px auto;
width: 150px;
font-size: 20px;

}

#headline {
color: #00008B;
font-size: 300%;
padding-top: 30px;
}

}

/* --------------------------------- max-width 670px (mobile) ------------------------------ */


@media all and (max-width: 670px) {
    .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 290px;
    grid-template-rows: 400px 400px 400px 400px;
    gap: 20px 20px;
    grid-template-areas:
            
                                "one"
                                "two"
                                "three"
                                "four";
    }
    
    .banner {
        height: 720px;
        margin-top: 50px;
        
    }    

    .imageinbox {
    background-image: url("Bilder/imacsmall.png");
    width: 290px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    }

    #headline {
    font-size: 250%;
        }

    .headline-two {
        font-size: 160%;
    }

    .headline3 {
        font-size: 15px;
    }

    .btn {
        width: 100px;
        background-color: #FF1493;
        border-radius: 20px;
        color: white;
        border: none;
        font-size: 80%;
        font-weight: bold;
        cursor: pointer;
        transition: all .3s ease-in-out;
        }

    .header {
        height:60px;
        box-shadow: none;
        background-color: white;

    }

    .logo {
        width: 150px;
        height: 40px;
    }

    .hamburger {
        font-size: 25px;
        margin-right: 10px;
    }

    .navigation-wrapper {
        padding-top: 10px;
    }

    .btn {
        margin-top: 25px;
    }

}

/* 
@media all and (max-width: 335px) {
   .banner {
       height: 00px;
   }

   */